.title {
    text-align: center;
    font-family: 'Segoe UI Light';
    font-size: 50pt;
}

.fields {
    text-align: center;
    font-family: 'Segoe UI Light';
    font-size: 20pt;
}

.timeline_name {
    text-align: center;
    font-family: 'Segoe UI Light';
    font-size: 30pt;
}

.fields form input {
    height: 50px;
    font-family: 'Segoe UI Light';
    font-size: inherit;
    text-align: center;
}

#confirmation_adding_event {
    font-family: "Segoe UI Light";
    color: forestgreen;
    text-align: center;
}

header .icon {
    position: fixed;
    top: 5%;
    right: 0;
    margin: 0;
    padding-right: 2%;
}

header .icon img {
    width: 3em;
    height: auto;
    margin-left: 2em;
}

header .icon a {
    text-decoration: none;
}

#spinner{
    height: 50px;
}



