.title {
    text-align: center;
    font-family: 'Segoe UI Light';
    font-size: 50pt;
}

.fields {
    text-align: center;
    font-family: 'Segoe UI Light';
    font-size: 20pt;
}

.timeline_name {
    text-align: center;
    font-family: 'Segoe UI Light';
    font-size: 30pt;
}

#home_icon {
    position: fixed;
    top: 5%;
    right: 0;
}

#home_icon img {
    width: 50%;
    height: auto;
}

.fields form input {
    height: 50px;
    font-family: 'Segoe UI Light';
    font-size: inherit;
    text-align: center;
}

#confirmation_adding_event {
    font-family: "Segoe UI Light";
    color: forestgreen;
    text-align: center;
}


